# ─── Certificados SSL/TLS ─────────────────────────────────────────────────────
*.crt
*.pem
*.key

# ─── Scripts Locais ───────────────────────────────────────────────────────────
banco_de_dados.bat
